* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1e1e1e;    
    color: #f0f0f0;          
    line-height: 1.6;
    padding: 20px;
}


h1, h2, h3 {
    color: #f0f0f0;
    margin-bottom: 20px;
    font-weight: 600;
}

a {
    color: #00bfff;
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    text-decoration: underline;
}


input, select, button {
    padding: 10px;
    margin: 5px 0 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

input, select {
    width: 100%;
    background-color: #2c2c2c;
    color: #f0f0f0;
}

button {
    background-color: #00bfff;
    color: #1e1e1e;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}
button:hover {
    background-color: #009acd;
}
